torch
torchvision
shapely
scikit-learn
opencv-python
numpy
matplotlib
PyQt5
transformers
trimesh
pillow
scipy
open3d


PyYAML
tensorflow
timm
safetensors
huggingface-hub
typing_extensions
sympy
astunparse
onnxruntime
mpmath
tensorboard
protobuf
optree
setuptools
tqdm
packaging
opt_einsum
colorama
filelock
urllib3
fsspec
ipython
traitlets
gast
termcolor
requests
Jinja2
Pygments
soundfile
pandas
regex
tokenizers
beautifulsoup4
h5py
pyvista
keras
keyboard
pygame
hidapi